.App {
  text-align: center;
  height: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.navigator {
  margin: 5px;
}
.App-header {
  padding: 10px;
  background-color: #282c34;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-direction: column;
  align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.children-2 {
  margin-right: 15px;
  gap: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.children-1 {
  margin-left: 20px;
  color: #61dafb;
}

.footer {
  margin: 20px;
  display: flex;
  flex-direction: column;
  background-color: #282c34;
  color: white;
  padding: 10px;
  display: block;
}

.App-blogPost {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.container {
  width: auto;
  height: 700px;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 50px;
  width: 500px;
  height: auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.submitBtn {
  font-size: large;
  color: white;
  width: 80px;
  height: 30px;
  border-radius: 10px;
  border: none;
  margin-top: 20px;
  background-color: #61dafb;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
textarea {
  width: 400px;
  height: auto;
}

input,
textarea {
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border: 0px;
}

/* Pop Up styles */
.postCard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.card {
  margin: 40px;
  width: 150px;
  height: auto;
  background-color: #61dafb;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 5px;
  padding: 10px;
}
